

body {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#container {
    width: 90%;
    height: auto;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    width: 80%;
    background-image: linear-gradient(45deg, #000000, #52057b, #892cdc, #bc6ff1);
    text-align: center;
    color: white;
    line-height: 50px;
    font-style: initial;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#bugs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-top: 20px;
    width: 100%;
}

#bugs2 {
    display: flex;
 justify-content: center;
 align-items: center;
 width: 80%;
}

img {
    width: 100%;
    height: 284px;
     z-index: 0;
}

img:hover {
    animation: pulse 1.5s ease infinite;
    
}

@keyframes pulse {
    0% { transform: scale(1);}
    50% { transform: scale(1.1);}
    100% { transform: scale(1);}
}

a {
    margin-right: 0;
    width: 100%;
    height: 284px;
}

#setA,
#setB,
#setC,
#setA:hover:after,
#setB:hover:after,
#setC:hover:after {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    } 

 #setA, #setB, #setC {
    position: relative;
}

#setA:hover:after,
#setB:hover:after,
#setC:hover:after  {
    color: rgb(255, 255, 255);
    display:block;
    text-align: center;
    position: absolute;
    width:200px;
    z-index: 1000;
    font-size: 40px;
    top: 30%;
    right: 15%;
    border-radius: 10px;
    padding: 20px;
    background-image: linear-gradient(45deg, #00000081, #52057b81, #8a2cdc81, #bd6ff181);
} 

#setA:hover:after  {
    content: "Zbiór A";
}

#setB:hover:after  {
    content: "Zbiór B";
}

#setC:hover:after  {
    content: "Zbiór C";
}



    @media (min-width: 1000px) and (max-width: 1100px) {
        

        img {
            width: 90%;
            height: 250px;
        }

        a {
            width: 90%;
            height: 250px;
        }

        #setA:hover:after,
        #setB:hover:after,
        #setC:hover:after  {
            width:100px;
            font-size: 30px;
            top: 30%;
            right: 30%;
            padding: 10px;
        }
            }

    

    @media (min-width: 800px) and (max-width: 1000px) {
      

        img {
            width: 90%;
            height: 220px;
        }

        a {
            width: 90%;
            height: 220px;
        }

        #setA:hover:after,
#setB:hover:after,
#setC:hover:after  {
    width:100px;
    font-size: 25px;
    top: 30%;
    right: 30%;
    padding: 5px;
}
    }
    

    @media (min-width: 500px) and (max-width: 800px) {
        #bugs2 {
          
            display: block;
            width: 80%;
           
    }

a {
    width: 100%;
    margin-right: 0;
}
    
    img {
        margin-bottom: 30px;
        width: 100%;
       
    }

    #setA {
margin-bottom: 30px;
    }

    p {
        padding: 20px;
    }

    #setA {
        content: "Zbiór A";
        display: flex;
    }

    #setB {
        content: "Zbiór B";
        display: flex;
    }
    #setC {
        content: "Zbiór C";
        display: flex;
    } 
    }

    @media (max-width: 500px) {
        #bugs2 {
            display: block;
            width: 100%;
            
    }

    #header {
        width: 100%;
        padding: 20px;
    }

    #setA {
        padding-bottom: 20px;
        content: "Zbiór A";
        display: flex;
    }

    #setB {
        content: "Zbiór B";
        display: flex;
    }
    #setC {
        content: "Zbiór C";
        display: flex;
    }

    #setA,
#setB,
#setC,
#setA:hover:after,
#setB:hover:after,
#setC:hover:after {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    }
}
